@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

:root {
    background: #e4e3e3;
    font-family: 'Open Sans Condensed', sans-serif;
}


header,
main,
footer{
    width: 70%;
    background: #fff;
    margin: auto;
    padding: 10px;
}

header,
footer{
    text-align: center;
}

.dot{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    color: white;
    background: tomato;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    margin-top: 5px;
}

h1{
    margin: 0;
}

h4{
    display: inline;
}

.functionBody{
    margin-left: 20px;
}

@media(min-width: 769px){
    header,
    main,
    footer{
        width: 40%;
    }
}
